#-----------------------------------------------------------------------------#
#                                                                             #
#      DEFAULT CONFIGURATION FILE TO BE USED WITH THE FLASHWRITER SCRIPT      #
#                                                                             #
#-----------------------------------------------------------------------------#
#
# By default this config file,
# - The application image points to relative path of the hello_world application image for this EVM
#   - Make sure this application is built before running this script
# - You can customized this config file to point to your own application images
#
# When sending application image, make sure to flash at offset 0x80000 (default) or to whatever offset your bootloader is configured for
# NOTE: Application image must start from 0x70080000 in memory. All ENET applications use this same start address.
# For other applications, please verify and ensure they also use the same start address from 0x70080000.
--file=../../source/networking/enet/core/examples/lwip/enet_lwip_cpsw/am263x-cc/r5fss0-0_freertos/ti-arm-clang/enet_lwip_cpsw.release.mcelf  --operation=flash --flash-offset=0x80000
